<header class="header">
  <div class="container">
    <h1 class="logo">
      <a href="/">
        <%= image_tag "header/logo.png" %>
      </a>
    </h1>
    <nav>
      <% if logged_in? %>
        <%= link_to "学習履歴", studylogs_path %>
        <%= link_to "ログアウト", logout_path, data: { turbo_method: "delete" } %>
      <% end %>
      <%= link_to "利用規約", terms_path %>
    </nav>
  </div>
</header>
